@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*================ GENERAL STYLES ==================

Font: Karla
Farbe: #323A45 / #848484

font-family: 'Karla', sans-serif;
*/

body {
    font-family: 'Karla', sans-serif;
}

/*==================== HEADER ======================*/

header {
    display: flex;
    margin: 10vh 10%;
}

header span {
    font-weight: bold;
}

header nav {
    width: 100%;
    display: flex;
}

nav ul {
    margin-left: auto;
}

nav ul li {
    display: inline;
    margin: 0 1vw;
}

nav a {
    color: #000;
    text-decoration: none;
} 

nav a:hover {
    text-decoration: underline;
} 

/*===================== MAIN =======================*/

/* HOVER */
.overlay {
    position: absolute;
    top: center;
    bottom: 0;
    left: center;
    right: center;
    height: 78%;
    width: 80%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay:hover {
    opacity: 1;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
}
/*====================================*/

.gridMain {
margin: 10vh 10% 5vh;
display: grid;
grid-template-columns: repeat(3, 1fr); 
grid-template-rows: repeat(3, 1fr);
gap: 1%;
}

/* PRODUCT PICTURE */
.gridMain img {
    width: 100%;
    object-fit: cover;
}

/* Kanken Art Laptop Backpack - large img */
.mainA {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
}

/* PRODUCT NAME */
main div div figcaption:nth-of-type(1) {
    margin-top: 2vh;
    display: flex;
}

div figcaption {
    display: flex;
}

/* PRICE */
main div div figcaption span {
    display: inline;
    margin-left: auto;
    justify-content: flex-end;
}

/* COMPANY */
main div div figcaption:nth-of-type(2) {
    color: grey;
    margin-top: 1vh;
}

/* Swing Arm Wood Desk Lamp */
.mainB {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* Dieter Rams Buch - large img */
.mainH {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

/* Arigato Desk Lamp - large img */
.mainO {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
}

/* Min: The New Simplicity - large img */
.mainV {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 11;
}

/* Bottle Grinder - large img */
.main3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 13;
    grid-row-end: 14;
}

/*==================== FOOTER ======================*/

.gridFooter {
    margin: 130vh 10% 5vh;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    'A B C D'
    'E F G H'
    'I';
}

footer {
    text-decoration: none;
    line-height: 1.5em;
}

footer a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: grey;
}

.A,
.B,
.C,
.D,
/* Ruby Bacanovic */
.E span {
    font-weight: bold;
}

/* Carefully curated */
.E {
    width: 55%;
    font-size: 0.9em;
}

/* Email us */
.F ul li { 
    grid-area: F;
    list-style: none;
    font-size: 0.9em;
}

/* Click here to subscribe */
.G {
    font-size: 0.9em;
}

/* Don't worry. We hate spam too. */
.G span {
    font-style: italic;
}

/* SOCIAL */
.H ul li { 
    grid-area: H; 
    color: #000;
    text-decoration: none;
    list-style: none;
    font-size: 0.9em;
}

/* COPYRIGHT */
.I {
    display: inline;
    font-size: 0.9em;
    color: grey;
}